<mat-sidenav-container>
  <mat-sidenav #drawer mode="over" role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='/'>
        <mat-icon class="icon">home</mat-icon>Home
      </a>
      <a mat-list-item routerLink='/info'>
        <mat-icon class="icon">info</mat-icon>Info
      </a>
      <a mat-list-item routerLink='/map'>
        <mat-icon class="icon">room</mat-icon>Map
      </a>
      <a mat-list-item routerLink='/calendar'>
        <mat-icon class="icon">calendar_today</mat-icon>Calendar
      </a>
      <a mat-list-item routerLink='/location'>
        <mat-icon class="icon">room</mat-icon>Locations
      </a>
      <a mat-list-item routerLink='/help'>
        <mat-icon class="icon">help</mat-icon>Help
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
