<div fxLayout="column" fxLayoutAlign="center">
  <ng-container *ngIf="(store.state$ | async) === 'notSupported'">
    <p class="text">Push Notifications are not supported by this browser</p>
    <button mat-raised-button class="btn" (click)="store.dismiss()">Hide</button>
  </ng-container>
  <ng-container *ngIf="(store.state$ | async) === 'supported'">
    <p class="text">Enable Push-Notifications?</p>
    <button mat-raised-button color="primary" class="btn" (click)="store.subscribe()">Yes</button>
    <button mat-raised-button class="btn" (click)="store.disallow()">No</button>
  </ng-container>
  <ng-container *ngIf="(store.state$ | async) === 'error'">
    <p class="text">There was an error enabling Push Notifications!</p>
    <button mat-raised-button class="btn" (click)="store.dismiss()">Hide</button>
  </ng-container>
  <ng-container *ngIf="(store.state$ | async) === 'denied'">
    <p class="text">Push Notifications have been denied.</p>
    <button mat-raised-button class="btn" (click)="store.dismiss()">Hide</button>
  </ng-container>
  <ng-container *ngIf="(store.state$ | async) === 'granted'">
    <p class="text">Push Notifications are enabled.</p>
    <button mat-raised-button class="btn" (click)="store.dismiss()">Hide</button>
  </ng-container>
</div>
