.map
  height 65vh
  margin-bottom 1rem

.panel-description
  @media screen and (max-width: 899px)
    display none

.address
  @media screen and (min-width: 900px)
    display none

mat-icon.icon
  margin-right 0.75rem
