<div class="bar" *ngIf="(pushNotificationStoreService.state$ | async) === 'notSupported'">
  <div class="text">Push Notifications are not supported by this browser</div>
  <button mat-raised-button class="btn push-right" (click)="pushNotificationStoreService.dismiss()">Hide</button>
</div>
<div class="bar" *ngIf="(pushNotificationStoreService.state$ | async) === 'supported'">
  <div class="text">Enable Push-Notifications?</div>
  <button mat-raised-button color="primary" class="btn push-right" (click)="pushNotificationStoreService.subscribe()">Yes</button>
  <button mat-raised-button class="btn" (click)="pushNotificationStoreService.disallow()">No</button>
</div>
<div class="bar" *ngIf="(pushNotificationStoreService.state$ | async) === 'error'">
  <div class="text">There was an error enabling Push Notifications</div>
  <button mat-raised-button class="btn push-right" (click)="pushNotificationStoreService.dismiss()">Hide</button>
</div>
<div class="bar" *ngIf="(pushNotificationStoreService.state$ | async) === 'denied'">
  <div class="text">Push Notifications have been denied</div>
  <button mat-raised-button class="btn push-right" (click)="pushNotificationStoreService.dismiss()">Hide</button>
</div>
<div class="bar" *ngIf="(pushNotificationStoreService.state$ | async) === 'granted'">
  <div class="text">Push Notifications are enabled</div>
  <button mat-raised-button class="btn push-right" (click)="pushNotificationStoreService.dismiss()">Hide</button>
</div>
