.bar
  background-color darken(#cc9400, 10) // warn
  width 100%
  display flex
  align-items center

.text
  margin 0.5rem
  font-style italic

.btn
  flex 0 0 auto
  margin 0.5rem
  &.push-right
    margin-left auto
