<img *ngIf="event['Bild']" [src]="'./assets/' + event['Bild']">

<h1>{{ event['Titel'] }}</h1>

<p class="subtitle">
  {{ event['Referierende 1'] }}
  <ng-container *ngIf="event['Funktion 1']">
    -
    <a *ngIf="event['Link 1']; else funktion1NoLink" [href]="event['Link 1']" target="_blank">
      {{ event['Funktion 1'] }}
    </a>
    <ng-template #funktion1NoLink>{{ event['Funktion 1'] }}</ng-template>
  </ng-container>
</p>
<p *ngIf="event['Referierende 2']" class="subtitle">
  {{ event['Referierende 2'] }}
  <ng-container *ngIf="event['Funktion 2']">
    -
    <a *ngIf="event['Link 2']; else funktion2NoLink" [href]="event['Link 2']" target="_blank">
      {{ event['Funktion 2'] }}
    </a>
    <ng-template #funktion2NoLink>{{ event['Funktion 2'] }}</ng-template>
  </ng-container>
</p>

<ul>
  <li>
    {{ 'EVENTS_PAGE.TIME' | translate }}:
    <strong>
      <span *ngIf="event['Tag'] === '24.6.'">{{ 'EVENTS_PAGE.WEEKDAYS.MO' | translate }}, </span>
      <span *ngIf="event['Tag'] === '25.6.'">{{ 'EVENTS_PAGE.WEEKDAYS.TU' | translate }}, </span>
      <span *ngIf="event['Tag'] === '26.6.'">{{ 'EVENTS_PAGE.WEEKDAYS.WE' | translate }}, </span>
      <span *ngIf="event['Tag'] === '27.6.'">{{ 'EVENTS_PAGE.WEEKDAYS.TH' | translate }}, </span>
      <span *ngIf="event['Tag'] === '28.6.'">{{ 'EVENTS_PAGE.WEEKDAYS.FR' | translate }}, </span>
      <span *ngIf="event['Tag'] === '29.6.'">{{ 'EVENTS_PAGE.WEEKDAYS.SA' | translate }}, </span>
      {{ event['Tag'] }}
    </strong>
    <ng-container *ngIf="event['Startzeit']">
      {{ event['Startzeit'] }} - {{ event['Endzeit'] }}
    </ng-container>
  </li>
  <li><a [routerLink]="['/locations', event['Ort ID']]">
    {{ 'EVENTS_PAGE.LOCATION' | translate }}: {{ event['Ort'] }}
  </a></li>
  <li *ngIf="event['Kategorie']">
    {{ 'EVENTS_PAGE.CATEGORY' | translate }}: {{ event['Kategorie'] }}
  </li>
  <li *ngIf="event['Stichwort']">
    {{ 'EVENTS_PAGE.KEYWORD' | translate }}:
    <strong>{{ 'EVENTS_PAGE.KEYWORDS.' + event['Stichwort'] | translate }}</strong>
  </li>
  <li *ngIf="event['Moderation']">
      {{ 'EVENTS_PAGE.MODERATION' | translate }}: {{ event['Moderation'] }}
    </li>
</ul>

<ng-container *ngIf="event['Beschreibung']">
  <h3>Beschreibung</h3>
  <p>{{ event['Beschreibung'] }}</p>
  <ng-container *ngIf="event['Link']">
    <p>Siehe auch:
      <a href="event['Link']" target="_blank">
        {{ event['Linktext'] ? event['Linktext'] : event['Link'] }}
      </a>
    </p>
  </ng-container>
</ng-container>

