<mat-toolbar color="primary">
  <span>Ramstein Conference App</span>
  <span class="spacer"></span>
  <a class="mat-icon-button menu-link" [routerLink]="['/info']" routerLinkActive="mat-raised-button" >
    <mat-icon class="icon">info</mat-icon></a>
  <a class="mat-icon-button menu-link" [routerLink]="['/map']" routerLinkActive="mat-raised-button" >
    <mat-icon class="icon">room</mat-icon></a>
  <a class="mat-icon-button menu-link" [routerLink]="['/calendar']" routerLinkActive="mat-raised-button" >
    <mat-icon class="icon">calendar_today</mat-icon></a>
  <a class="mat-icon-button menu-link" [routerLink]="['/help']" routerLinkActive="mat-raised-button" >
    <mat-icon class="icon">help
    </mat-icon></a>
</mat-toolbar>
