<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="menu-toggle-btn" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenavService.toggle()">
      <mat-icon aria-label="Sidenav toggle icon">menu</mat-icon>
    </button>
    <img routerLink="/" class="toolbar-logo" src="./assets/logo-toolbar.png">
    <a routerLink="/" class="toolbar-header">Aktionswoche
      <span class="title-extended">Stopp Air Base Ramstein 2019</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
