<div fxLayout="row wrap" fxLayoutAlign="center">
  <mat-card *ngFor="let event of (eventsStore.events$ | async)" class="card">
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="['/events', event['ID']]" class="unstyled-link">
          {{ event['Titel'] }}
        </a>
      </mat-card-title>
      <mat-card-subtitle>
        <a [routerLink]="['/locations', event['Ort ID']]" class="unstyled-link">
          {{ event['Ort'] }}
        </a>
        <!-- {{ event['Referierende 1'] }}
        <ng-container *ngIf="event['Referierende 2']">
          <br>
          {{ event['Referierende 2'] }}
        </ng-container> -->
      </mat-card-subtitle>
    </mat-card-header>
    <a *ngIf="event['Bild']" [routerLink]="['/events', event['ID']]" class="mat-card-image-link">
      <img mat-card-image [src]="'./assets/' + event['Bild']">
    </a>
    <mat-card-content>
      <p>
        <strong>
          <span *ngIf="event['Tag'] === '24.6.'">{{ 'EVENTS_PAGE.WEEKDAYS.MO' | translate }}, </span>
          <span *ngIf="event['Tag'] === '25.6.'">{{ 'EVENTS_PAGE.WEEKDAYS.TU' | translate }}, </span>
          <span *ngIf="event['Tag'] === '26.6.'">{{ 'EVENTS_PAGE.WEEKDAYS.WE' | translate }}, </span>
          <span *ngIf="event['Tag'] === '27.6.'">{{ 'EVENTS_PAGE.WEEKDAYS.TH' | translate }}, </span>
          <span *ngIf="event['Tag'] === '28.6.'">{{ 'EVENTS_PAGE.WEEKDAYS.FR' | translate }}, </span>
          <span *ngIf="event['Tag'] === '29.6.'">{{ 'EVENTS_PAGE.WEEKDAYS.SA' | translate }}, </span>
          {{ event['Tag'] }}
        </strong>
        <ng-container *ngIf="event['Startzeit']">
          {{ event['Startzeit'] }} - {{ event['Endzeit'] }}
        </ng-container>
      </p>
      <p *ngIf="event['Stichwort']">
        {{ 'EVENTS_PAGE.CATEGORY' | translate }}:
        <strong>{{ 'EVENTS_PAGE.CATEGORIES.' + event['Stichwort'] | translate }}</strong>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button class="details-button" [routerLink]="['/events', event['ID']]">
        <mat-icon class="icon">more_horiz</mat-icon>{{ 'EVENTS_PAGE.DETAILS' | translate }}
      </button>
      <div fxFlex></div>
      <button *ngIf="!(favoritesStore.favorites$ | async).includes(event['ID'])" mat-stroked-button (click)="favoritesStore.favorite(event)">
        <mat-icon class="icon">favorite_outline</mat-icon>
      </button>
      <button *ngIf="(favoritesStore.favorites$ | async).includes(event['ID'])" mat-stroked-button (click)="favoritesStore.unfavorite(event)">
        <mat-icon class="icon">favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
