.card
  max-width 300px
  margin-bottom 5px
  & .mat-card-image
    max-width none !important
    margin-top 0
  & .mat-card-content
    margin-left 16px
    margin-right 16px
  & .details-button mat-icon.icon
    margin-right 0.5rem
