.card
  min-width 300px
  margin-bottom 10px
  @media screen and (min-width: 600px)
    max-width 300px
    margin-right 10px
  .mat-card-image
    margin-top 5px
  & .details-button mat-icon.icon
    margin-right 0.5rem
