markdown
  img
    @media screen and (max-width: 1080px)
      width 100%

.center-text
  text-align center

.center-image
  display block
  margin-left auto
  margin-right auto
  @media screen and (max-width: 599px)
    width 100%

.unstyled-link
  color inherit
  text-decoration none
