<mat-nav-list *ngIf="(eventsStore.favoriteEvents$ | async)?.length; else noFavoriteEventsRef">
  <ng-container *ngFor="let event of (eventsStore.favoriteEvents$ | async)">
    <a mat-list-item [routerLink]="['/events', event.id]">
      <h4 mat-line>{{event.title}}</h4>
      <p mat-line> {{event.id}} </p>
      <button mat-stroked-button (click)="unfavorite(event, $event)">
        <mat-icon class="icon">clear</mat-icon>
      </button>
    </a>
  </ng-container>
</mat-nav-list>
<ng-template #noFavoriteEventsRef>
  <p [innerHTML]="'FAVORITES_PAGE.NO_FAVORITE' | translate"></p>
</ng-template>
